name: bakta
channels:
  - conda-forge
  - bioconda
  - defaults
dependencies:
  - biopython>=1.78
  - xopen>=1.1.0
  - requests>=2.25.1
  - alive-progress==1.6.2
  - trnascan-se>=2.0.6
  - aragorn>=1.2.38
  - infernal>=1.1.4
  - piler-cr
  - prodigal>=2.6.3
  - hmmer>=3.3.1
  - diamond>=2.0.11
  - blast>=2.7.1
  - ncbi-amrfinderplus>=3.10.16