name: bakta
channels:
  - conda-forge
  - bioconda
  - defaults
dependencies:
  - python >=3.9,<3.14
  - biopython>=1.78
  - xopen>=1.5.0
  - requests>=2.25.1
  - alive-progress>=3.0.1
  - pyyaml>=6.0
  - pyrodigal>=3.7.0
  - trnascan-se>=2.0.12
  - aragorn>=1.2.41
  - infernal>=1.1.5
  - piler-cr
  - pyhmmer>=0.12.0
  - diamond>=2.1.21
  - blast>=2.17.0
  - ncbi-amrfinderplus>=4.2.7
  - pycirclize>=1.7.0
