name: bakta
channels:
  - conda-forge
  - bioconda
  - defaults
dependencies:
  - biopython>=1.78
  - xopen>=1.5.0
  - requests>=2.25.1
  - alive-progress>=3.0.1
  - pyyaml>=6.0
  - pyrodigal>=3.1.0
  - trnascan-se>=2.0.11
  - aragorn>=1.2.41
  - infernal>=1.1.4
  - piler-cr
  - pyhmmer>=0.10.15
  - diamond>=2.1.10
  - blast>=2.14.0
  - ncbi-amrfinderplus>=3.11.26
  - circos>=0.69.8
